{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<div class="text-right">
			<form method="GET">
				{{myFilter.form}}
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
			<a href="{% url 'create'%}" class="btn btn-dark btn-sn btn-block">CreateInvoice</a>
		</div>
	<table class="table" id="makeeditable">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">PO Number</th>
	      <th scope="col">Name</th>
	      <th scope="col">Person Name</th>
	      <th scope="col">Email</th>
	      <th scope="col">Phone</th>
	      <th scope="col">Address</th>
	      <th scope="col">Status</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for i in posts %}
		    <tr>
		      <td>{{forloop.counter}}</td>
		      <td>{{i.ponumber}}</td>
		      <td>{{i.name}}</td>
		      <td>{{i.personName}}</td>
		      <td>{{i.email}}</td>
		      <td>{{i.phoneNumber}}</td>
		      <td></td>
		      <td>{{i.status}}</td>
		      <td><a href="{% url 'update' i.name %}"><i class="fa fa-edit"></i></a></td>
		      <td><a href="{% url 'delete' i.name %}"><i class="fa fa-trash"></i></a> 
		  	  </td>
		    </tr>
	    {% endfor %}
	  </tbody>
	</table>
{% include 'pagination.html' with page=posts %}
{% endblock content %}